#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thumbnail {
  width: 85px;
}

.photo {
  width: 125px;
}

a {
  font-weight: 500 !important;
  color: #646cff !important;
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
}

b {
  color: #646cff !important;
}

.albums {
  cursor: pointer;
}

.albums:hover {
  color: #646cff;
  cursor: pointer;
}

.red {
  color: #FF646C !important;
}

.green {
  color: #6CFF64 !important;
}